librosa
# otherwise librosa breaks
numba==0.48
# tf 2.6.0
numpy==1.19.2
tensorflow
torch
speechbrain
transformers==4.4.0
black
pre-commit
pytest
pytest-cov
pytest-env
#ruamel.base
#ruamel.std.argparse
absl_py==0.13.0
astunparse==1.6.3
click==8.0.1
flatbuffers==1.12
gast==0.4.0
google-pasta==0.2.0
grpcio==1.39.0
huggingface_hub==0.0.15
hyperpyyaml==1.0.0
pyyaml==5.4.1
ruamel.yaml.clib==0.2.6
ruamel.yaml==0.17.14
sentencepiece==0.1.96
