librosa
# otherwise librosa breaks
numba==0.48
# tf 2.6.0
numpy==1.19.2
tensorflow
torch
speechbrain
transformers==4.4.0
black
pre-commit
pytest
pytest-cov
pytest-env
absl_py==0.13.0
grpcio==1.39.0
huggingface_hub==0.0.15
#ruamel.base
#ruamel.std.argparse
ruamel.yaml==0.17.14
ruamel.yaml.clib==0.2.6
sentencepiece==0.1.96
